language: java

jdk:
        - openjdk8
        - oraclejdk8

branches:
        only:
        - master

before_script:
        - cd seip2019
        - ls -la

before_install:
        - sudo apt update

install:
        - sudo apt install maven -y

script:
        - mvn clean package jacoco:report coveralls:report

after_success:
        - echo "Process terminated successfully"
